body {
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 0, 0);
}
#big {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 2px white;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background: rgb(22, 22, 22);
  color: white;
}
#chheang {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgb(54, 54, 56);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(82, 82, 85);
}
button:active {
  background-color: rgb(82, 82, 95);
}
.yellow {
  background-color: rgb(255, 155, 4);
}
.yellow:hover {
  background-color: rgb(255, 185, 10);
}
.yellow:active {
  background-color: rgb(255, 195, 15);
}
