body {
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(0, 0, 0);
}
#big {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 2px white;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 3rem;
  text-align: left;
  border: none;
  background: rgb(22, 22, 22);
  color: white;
}
#chheang {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  width: 100%;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  border: none;
  background-color: rgb(54, 54, 56);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(82, 82, 85);
}
button:active {
  background-color: rgb(82, 82, 95);
}
.yellow {
  background-color: rgb(255, 155, 4);
}
.yellow:hover {
  background-color: rgb(255, 185, 10);
}
.yellow:active {
  background-color: rgb(255, 195, 15);
}
@media(max-width:600px){
  #display{
    font-size: 2.2rem;
    padding: 15px;
  }
  button{
    font-size: 1.6rem;
  }
}
