body {
  .heading {
    transition: opacity 0.8s ease; /* effect ចេញចូលយឺតៗ */
    opacity: 4;
  }
  .hide {
    opacity: 0; /* ពេលលាក់ */
  }
}
.btn {
  background: yellow;
  padding: 5px;
  box-shadow: 0px 1px 3px 1px white;
  border-radius: 10px;
}

